
<h2 id="title">Statewise Coronavirus Information</h2>

<form id="left1em" [formGroup]="form" (ngSubmit)="getCurrentData(form.get('stateForm')?.value)" >
  <label id="strong">
    Enter US state :
    <input formControlName="stateForm" type="text" name="state" id="state" >
  </label>
  <button id="left1em" class="btn btn-success" type="submit" >Get Data</button>
</form>
<h3 id="left1em"> Current State : {{ stateName }}</h3>

<div class="card bg-dark text-white" id="left1em" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Total Positive Cases</h5>
    <p class="card-text">{{ totalPositiveCases }}</p>
  </div>
</div>
<div class="card bg-dark text-white" id="left1em" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Currently Hospitalized</h5>
    <p class="card-text">{{ currentlyHospitalized }}</p>
  </div>
</div>
<div class="card bg-dark text-white" id="left1em" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Number of Cases Today</h5>
    <p class="card-text">{{ numberOfCasesToday }}</p>
  </div>
</div>
<div class="card bg-dark text-white" id="left1em" style="width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Number of Hospitalized Today</h5>
    <p class="card-text">{{ numberOfHospitalizedToday }}</p>
  </div>
</div>
<br><br><br><br>
<p id="lastUpdate">Last Updated Date: {{ lastUpdatedDate }}</p>

<!-- <ul>
  <li *ngFor="let state of stateData;"> {{ state.state }} Positive Cases: {{ state.positive | number }} Date Reported: {{ state.date  }} Currently Hospitalized : {{ state.hospitalizedCurrently}} Cases Today: {{ state.positiveIncrease | number}} Hospitalized Today: {{ state.hospitalizedIncrease | number }}</li>
</ul> -->