
<h2 id="title">Statewise Information</h2>

<p>Enter state in two digits</p>
<form [formGroup]="form" (ngSubmit)="getCurrentData(form.get('stateForm')?.value)" >
  <h3> Current State : {{ stateName }}</h3>
  <label>
    State:
    <input formControlName="stateForm" type="text" name="state" id="state" >
  </label>
  <button class="btn btn-success" type="submit" >Get Data</button>

</form>


<h2> {{ state.value }} </h2>

<!-- <ul>
  <li *ngFor="let state of stateData;"> {{ state.state }} Positive Cases: {{ state.positive | number }} Date Reported: {{ state.date  }} Currently Hospitalized : {{ state.hospitalizedCurrently}} Cases Today: {{ state.positiveIncrease | number}} Hospitalized Today: {{ state.hospitalizedIncrease | number }}</li>
</ul> -->