#title {
  margin-top: 10px;
  margin-left: 11px;
}

#left1em {
  margin-left: 1em;
}

#strong {
  font-size: large;
}

.card{
  float: left;
  border: 2px solid #557acc;
  margin-bottom: 10px;
}

#lastUpdate{
  margin-top: 10px;
  margin-right: 0;
  margin-left: 15px;
  float: left;
}




