#title {
  margin-top: 10px;
  margin-left: 11px;
}

#left1em {
  margin-left: 1em;
}

#strong {
  font-size: large;
}

.card{
  float: left;
  border: 2px solid #557acc;
  margin-bottom: 10px;
}

#lastUpdate{
  margin-top: 10px;
  margin-right: 0;
  margin-left: 15px;
  
  display: flex;
}

#state {
  width: 130px;
  box-shadow: 1px 1px 2px #888888;
  border: 1px black solid;
}

#currentState {
  margin-left: 0.5em;
}

.btn {
  height: 35px;
}


