
<!-- Toolbar -->
<nav>
  <!-- <a class="navbar-brand" href="#">Covid Tracker</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a routerLink="/" routerLinkActive="active" class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a routerLink="/home" routerLinkActive="active" class="nav-link" href="#">US States</a>
      </li>
    </ul>
  </div> -->
  <p class="logo">Covid Tracker</p>
  <p class="title home">Home</p>
  <p class="title usstates">US States</p>
  <p class="heroku">Powered by Heroku</p>
</nav>
  





<router-outlet></router-outlet>